{
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:markdown/recommended",
    "plugin:json/recommended",
    "prettier"
  ],
  "rules": {
  "no-console":"off"
  },
  "ignorePatterns": ["vars/env.json"]
}